<div id="offCanvasSideScroll" class="shopex-scroll-wrapper">
  <div class="section-white section-container filters-header">
    <div class="filters-op reset-filters-options" >重置</div>
    <div class="section-init">筛选</div>
    <div id="offCanvasHide" class="filters-op">确定</div>
  </div>
  <div class="shopex-scroll">
    <div class="filters-options shopex-content-padded clearfix">
      <span data-name="sf" data-value="1" class="<{if $activeFilter.is_selfshop == '1' }>checked<{/if}>" >自营</span>
    </div>
  </div>
</div>
