<{if config::get('app.debug', false)}>
<{css src="base.css" app="topm"}>
<{script src="zepto.js" app="topm"}>
<{script src="fastclick.js" app="topm"}>
<{script src="gmu.js" app="topm"}>
<{script src="common.js" app="topm"}>
<{script src="message.js" app="topm"}>
<{script src="validate.js" app="topm"}>
<{script src="echo.js" app="topm"}>
<{else}>
<{css src="base.min.css" app="topm"}>
<{script src="framework.min.js" app="topm"}>
<{script src="mobile.min.js" app="topm"}>
<{script src="echo.min.js" app="topm"}>
<{/if}>
