<div class="panel-heading">
  <{if $trade.pay_type == "online"}>
  <div class="text-center">
    <ul class="step-bar">
      <li class="on">
        <div class="state">已下单，待付款</div>
        <div class="time"><{$trade.created_time|cdate}></div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </li>
      <li class="on">
        <div class="state">已支付，待发货</div>
        <div class="time"><{if $trade.pay_time}><{$trade.pay_time|cdate}><{/if}></div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </li>
      <li>
        <div class="state">已发货，待收货</div>
        <div class="time"></div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </li>
      <li>
        <div class="state">已完成</div>
        <div class="time"></div>
      </li>
    </ul>
  </div>
  <{elseif $trade.pay_type == "offline"}>
  <div class="text-center">
    <ul class="step-bar">
      <li class="on">
        <div class="state">待发货(货到付款)</div>
        <div class="time"><{if $trade.pay_time}><{$trade.pay_time|cdate}><{/if}></div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </li>
      <li>
        <div class="state">已发货，待付款收货</div>
        <div class="time"></div>
        <i class="glyphicon glyphicon-chevron-right"></i>
      </li>
      <li>
        <div class="state">已完成</div>
        <div class="time"></div>
      </li>
    </ul>
  </div>

  <{/if}>
</div>
