<div class="signup-state">
    <div class="signup-flow-title"><{t}>找回密码流程<{/t}></div>
    <ul class="signup-flow-list">
    	<li class="on arrow-icon"><{t}>1 选择找回方式<{/t}><span class="arrow"></span></li>
        <li class="arrow-icon"><{t}>2 验证身份<{/t}><span class="arrow"></span></li>
        <li><{t}>3 设置新密码<{/t}><span class="arrow"></span></li>
    </ul>
</div>
<div class="form-box signup-box" id="login-box">
	<!-- <div class="signup-header">忘记密码-选择找回方式</div> -->
	<div class="body">
		<p class="cor-9 center pad-t80">请选择已通过验证的方式找回密码</p>
		<div class="choose-type">
			<a href="<{url action=topshop_ctl_find@firstStep type=mobile}>" class="type-item mobile">
				<div class="item-icon"></div>
				<p>通过手机号码找回</p>
			</a>
			<a href="<{url action=topshop_ctl_find@firstStep type=email}>" class="type-item email">
				<div class="item-icon"></div>
				<p>通过邮箱地址找回</p>
			</a>
		</div>
		<div class="footer">
			<a href="<{url action=topshop_ctl_passport@signin}>" class="text-center"><想起密码，返回登录</a>
		</div>
	</div>
</div>
