<header class="page-header">
	<i class="header-left icon-func bbc-icon bbc-icon-back shopex-action-back"></i>
	<div class="header-title"><{$title}></div>
</header>
<section class="container">
    <section class="section-container">
      <div class="pay-order-info content-center">
        <p>您还未进行手机号绑定，无法找回密码</p>
      </div>
    </section>
    <section class="shopex-content-padded">
      <a href="<{url action=topwap_ctl_member@security}>" class="shopex-btn shopex-btn-block shopex-btn-warning bbc-btn-warning">去绑定</a>
    </section>
  </section>