<header class="page-header">
	<i class="header-left icon-func bbc-icon bbc-icon-back shopex-action-back"></i>
	<div class="header-title"><{$title}></div>
</header>
<section class="container">
	<form class="form-container" action="">
		<section class="section-white">
			<ul class="shopex-table-view">
				<{if $hasDepositPassword.result}>
				
					<li class="shopex-table-view-cell"><a href="<{url action=topwap_ctl_member_deposit@modifyPassword type=change}>" 
						class="shopex-navigate-right">修改密码</a></li>
					<li class="shopex-table-view-cell"><a href="<{url action=topwap_ctl_member_deposit@forgetPassword}>" 
						class="shopex-navigate-right">忘记密码</a></li>
				<{else}>
					<li class="shopex-table-view-cell"><a href="<{url action=topwap_ctl_member_deposit@modifyPassword}>" 
						class="shopex-navigate-right">设置密码</a></li>
				<{/if}>
			</ul>
		</section>
	</form>
</section>