<header class="page-header">
    <i class="header-left icon-func bbc-icon bbc-icon-back shopex-action-back"></i>
    <div class="header-title"><{$title}></div>
  </header>
  <section class="container">
    <form class="form-container" action="<{url action=topwap_ctl_member_deposit@rechargePay}>" method="post" data-async="false">
      <section class="shopex-input-group">
        <div class="shopex-input-row">
          <label>充值金额 (元):</label>
          <input type="text" class="shopex-input-clear" placeholder="请输入充值金额" required name="amount" data-caution="请输入充值金额">
        </div>
      </section>
      <section class="shopex-content-padded form-op-section">
        <button type="submit" class="shopex-btn shopex-btn-block shopex-btn-warning bbc-btn-warning" >下一步</button>
      </section>
    </form>
  </section>

