  <header class="page-header">
    <i class="header-left icon-func bbc-icon bbc-icon-back shopex-action-back"></i>
    <div class="header-title"><{$title}></div>
  </header>
  <section class="container">
    <section class="section-white section-container pay-order-info pay-failed">
      <i class="bbc-icon bbc-icon-error bbc-icon-full-cricle"></i>
      <div class="pay-order-info">
        <div class="order-status">预存款充值失败</div>
        <p>请稍后再次尝试或联系客服人员</p>
      </div>
    </section>
    <section class="shopex-content-padded">
      <a href="<{url action=topwap_ctl_member_deposit@rechargeSubmit}>" class="shopex-btn shopex-btn-block shopex-btn-warning bbc-btn-warning">返回重新充值</a>
    </section>
  </section>
