<header class="page-header">
  <i class="header-left icon-func bbc-icon bbc-icon-back shopex-action-back"></i>
  <div class="header-title"><{t}>设置<{/t}></div>
</header>
<section class="container">
  <form class="form-container" action="">
    <section class="section-white">
      <ul class="shopex-table-view">
        <!--
        <li class="shopex-table-view-cell">
          <a class="shopex-navigate-right"><{t}>关于我们<{/t}></a>
        </li>
        -->
        <li class="shopex-table-view-cell">
          <a class="shopex-navigate-right" href='<{url action=topwap_ctl_util@configContent app=sysconf key=sysconf_setting.wap_license title=使用协议}>'><{t}>使用协议<{/t}></a>
        </li>
      </ul>
    </section>
    <section class="shopex-content-padded form-op-section">
      <a href="<{url action=topwap_ctl_passport@logout}>" class="shopex-btn shopex-btn-block shopex-btn-warning bbc-btn-warning" ><{t}>退出登录<{/t}></a>
    </section>
  </form>
</section>


