<header class="page-header">
    <i class="header-left icon-func bbc-icon bbc-icon-back shopex-action-back"></i>
    <div class="header-title"><{$title}></div>
  </header>
  <section class="container">
    <form id="modifypwd_form" class="form-container" action="<{url action=topwap_ctl_member_safe@saveModifyPwd}>" method="post">
      <section class="shopex-input-group">
        <div class="shopex-input-row">
          <label>设置密码：</label>
          <input type="password" class="shopex-input-clear" placeholder="请设置您的密码" name="new_password" required minlength="6" maxlength="20" data-caution="请输入新密码，6-20个字符&&输入不正确，最少6个字符">
        </div>
        <div class="shopex-input-row">
          <label>确认密码：</label>
          <input type="password" class="shopex-input-clear" placeholder="请再次输入密码" name="confirm_password" required data-equalto="new_password" data-caution="请再次输入新密码">
        </div>
      </section>
      <div class="content-padded font-gray-20 fontS">6-20个字符，建议至少包含数字、大写英文、小写英文中的两种</div>
      <section class="shopex-content-padded form-op-section">
        <button type="submit" class="shopex-btn shopex-btn-block shopex-btn-warning bbc-btn-warning">保存</button>
      </section>
    </form>
  </section>