<ul class="clearfix">
<{if !$itemsList}>
  <p class="text-muted well no-shadow text-center">暂无数据</p>
  <script>
    $('#orderCancel,#orderEdit').on('hide.bs.modal', function(e) {
      $(this).removeData('bs.modal');
    })
  </script>
<{else}>
  <{foreach from=$itemsList item=data}>
  <li data-id="<{$data.item_id}>" data-src="<{$data.image_default_id}>" title="<{$data.title}>" >
    <div class="thumb">
        <{if $data.image_default_id}>
        <img src="<{$data.image_default_id|storager:'m'}>">
        <{else}>
        <img src="<{$image_default_id.M.default_image}>">
        <{/if}>

    </div>
    <div class="title"><{$data.title}></div>
  </li>
  <{/foreach}>
<{/if}>
</ul>
<div>
  <{pagers data=$pagers}>
<{if $count > 0}>
<span class="page-number">共&nbsp;<em class="text-aqua"><{$count}></em>&nbsp;条记录</span>
<{/if}>

</div>
