<div class="shopex-bar">
  <header class="page-header">
    <i class="header-left icon-func bbc-icon bbc-icon-back shopex-action-back"></i>
    <div class="header-title">店铺关闭</div>
  </header>
</div>
<div class="shop-sign">
  <div class="shop-sign-cover"></div>
  <div class="shop-sign-img">
    <img src="<{$logo_image.shop_logo|storager}>">
  </div>
  <div class="shop-sign-info">
    <div class="shop-logo"><img src="<{$shopdata.shop_logo|storager}>" alt=""></div>
    <div class="shop-name"><a href=""><{$shopdata.shop_name}></a> <i class="bbc-icon bbc-icon-forward"></i></div>
  </div>
</div>
<section class="container content-center">
  <p class="font-gray-20 shopex-content-padded">该店铺已被关闭</p>
  <a href="<{url action=topwap_ctl_default@index}>" class="shopex-col-xs-4 shopex-btn shopex-btn-warning bbc-btn-warning">返回首页</a>
</section>

