<div class="membercenter-box">
  <div class="membercenter-box-hd">
    <div class="membercenter-box-left">预存款提现</div>
  </div>
  <style>
    .cash-result-succ-icon{
      font-size:96px;
      color:#8AB660;
      text-align:center;
      margin-top:50px;
    }
    .cash-result-succ-message{
      font-size:24px;
      text-align:center;
      margin-top:-25px;
    }
    .cash-result-succ-text{
      font-size:14px;
      text-align:center;
      margin-top:5px;
    }
    .cash-result-succ-button{
      font-size:14px;
      text-align:center;
      margin-top:20px;
      margin-bottom:50px;
      color:#222;
    }
  </style>
  <div class="membercenter-box-bd">
    <div class='icon icon-checkmark-c cash-result-succ-icon' >
    </div>
    <div class='cash-result-succ-message'>
      &nbsp;&nbsp;<{$title}>
    </div>
    <div class='cash-result-succ-text'>
      &nbsp;&nbsp;<{$msg}>
    </div>
    <div class='cash-result-succ-button'>
      <a href='<{url action=topc_ctl_member_deposit@view}>' class='btn cash-result-succ-button'>
        <span>
          <span>
            我知道了
          </span>
        </span>
      </a>
    </div>
  </div>
</div>

