<div class="membercenter-box">
  <div class="membercenter-box-hd">
    <{if $hasDepositPassword}>修改支付密码<{else}>设置支付密码<{/if}>
  </div>

  <div class="membercenter-box-bd">
    <form action="<{url action=topc_ctl_member_deposit@doModifyPassword}>" method="post" id="ajaxForm" class="form-tip-horizontal">
      <ul>
        <li class="form-row">
          <span class="form-act">
            6-20个字符，不能与登录密码一致，至少包含数字、大写英文、小写英文中的两种。
          </span>
        </li>
        <{if $hasDepositPassword}>
        <li class="form-row">
          <label for="" class="form-label">旧密码</label>
          <span class="form-act">
            <input class="input-ln" type="password" name="old_password" id="" required maxlength="20">
          </span>
          <span class="form-act"><a href="<{url action='topc_ctl_member_deposit@forgetPassword'}>">忘记密码?</a></span>
        </li>
        <{/if}>
        <li class="form-row">
          <label for="" class="form-label">新密码</label>
          <span class="form-act">
            <input class="input-ln input-block auto-password-check-handle" type="password" data-validate="pay_password" required name="new_password" id="" placeholder="6-20个字符,数字" minlength="6" maxlength="20">
            <div class="password-check">
              <q>安全程度</q>
              <span class="progress">
                <em class="weak">弱</em><em class="good">中</em><em class="strong">强</em>
              </span>
            </div>
          </span>
        </li>
        <li class="form-row">
          <label for="" class="form-label">确认新密码</label>
          <span class="form-act">
            <input class="input-ln" type="password" name="confirm_password" id="" required data-equalto="new_password">
          </span>
        </li>
        <li class="form-row last">
          <label for="" class="form-label"></label>
          <span class="form-act">
            <button type="submit" class="btn btn-import" rel="_request"><span><span>确定</span></span></button>
          </span>
        </li>
      </ul>
    </form>
  </div>
</div>
<script>
  (function(){
    var form = $('#ajaxForm');
    form.find('button[type=submit]').data('ajaxConfig', {
        callback: function(rs) {
            if(rs.error){
                Message.error(rs.message);
            }else{
              Message.success(rs.message);
              if(rs.redirect){
                setTimeout(function(){
                  location.href = rs.redirect;
                },3000)
              }
            }
        }
    })
  })();
</script>
