<div class="membercenter-box">
  <div class="membercenter-box-hd">
    设置支付密码
  </div>

  <div class="membercenter-box-bd">
    <form action="<{url action=topc_ctl_member_deposit@doModifyPasswordCheckLoginPassword}>" method="post" id="ajaxForm" class="form-tip-horizontal">
      <ul>
        <li class="form-row">
          <label for="" class="form-label">登陆密码</label>
          <span class="form-act">
            <input class="input-ln" type="password" name="password" id="" required maxlength="20">
          </span>
        </li>
        <li class="form-row last">
          <label for="" class="form-label"></label>
          <span class="form-act">
            <button type="submit" class="btn btn-import" rel="_request"><span><span>确定</span></span></button>
          </span>
        </li>
      </ul>
    </form>
  </div>
</div>
<script>
  (function(){
    var form = $('#ajaxForm');
    form.find('button[type=submit]').data('ajaxConfig', {
        callback: function(rs) {
            if(rs.error){
                Message.error(rs.message);
            }else{
              Message.success(rs.message);
              if(rs.redirect){
                setTimeout(function(){
                  location.href = rs.redirect;
                },3000)
              }
            }
        }
    })
  })();
</script>
