<div class="recharge-container">
  <div class="recharge-header clearfix">
    <div class="recharge-title">
      预存款充值
    </div>
    <div class="recharge-steps">
      <span class="current">1.填写充值金额</span>
      <span class="current">2.选择支付方式</span>
      <span class="current">3.充值失败</span>
    </div>
  </div>
  <div class="recharge-content">
    <div class="recharge-result failed"><i class="icon icon-close-b"></i>抱歉，充值失败</div>
    <div class="page-guide">
      <a href="<{url action=topc_ctl_member_deposit@rechargeSubmit}>" class="btn btn-flat"><span><span>返回</span></span></a>
      <a href="<{url action=topc_ctl_default@index}>" class="btn btn-flat"><span><span>去逛逛</span></span></a>
    </div>
  </div>
</div>