<div class="recharge-container">
  <div class="recharge-header clearfix">
    <div class="recharge-title">
      预存款充值
    </div>
    <div class="recharge-steps">
      <span class="current">1.填写充值金额</span>
      <span class="current">2.选择支付方式</span>
      <span class="current">3.充值成功</span>
    </div>
  </div>
  <div class="recharge-content">
    <div class="recharge-result finished">
    <i class="icon icon-checkmark-b"></i>
    <span>恭喜您，充值成功！快去逛逛吧~</span>
    <a href="<{url action=topc_ctl_default@index}>" class="btn-see"><i class="icon icon-arrow-left"></i>去逛逛</a>
    </div>
  </div>
</div>
