<div class="signup-box-header">
	<div class="signup-state">
	    <h3>商家入驻流程</h3>
	    <ul class="signup-flow-list">
	    	<li class="on arrow-icon"><{t}>公司基本信息<{/t}></li>
	    	<li class="on arrow-icon"><{t}>银行及税务信息<{/t}></li>
	        <li class="on arrow-icon"><{t}>店铺信息<{/t}></li>
	        <li class="on arrow-icon"><{t}>提交完成，等待审核<{/t}><span class="arrow"></span></li>
	        <li><{t}>审核通过，等待签约<{/t}></li>
	    </ul>
	</div>
</div>
<div class="form-box signup-box pad-30">
	<div class="signup-header pad-l-0">等待审核</div>
	<div class="waite-content">
		<i class="icon icon-waite"></i>
		<p>恭喜您资料上传成功，请等待平台审核。</p>
		<a href="<{url action='topc_ctl_default@index'}>" class="text-center"><返回商城首页</a>
	</div>
</div>
