<header class="page-header">
    <i class="header-left icon-func bbc-icon bbc-icon-back shopex-action-back"></i>
    <div class="header-title">设置用户名</div>
  </header>
  <section class="container">
  <form class="form-container" action="<{url action=topwap_ctl_member@saveLoginAccount}>" method="post" id="user_form">
      <section class="shopex-input-group">
        <div class="shopex-input-row">
          <label>用户名:</label>
          <input type="text" name="username" class="shopex-input-clear" placeholder="请输入您的用户名">
        </div>
      </section>
      <div class="content-padded font-gray-20 fontS">用户名不能为纯数字或邮箱地址，最少4个字符，最大20字符</div>
      <section class="shopex-content-padded form-op-section">
        <button type="submit" class="shopex-btn shopex-btn-block shopex-btn-warning bbc-btn-warning" >保存</button>
      </section>
    </form>
  </section>