<div class="shop group team-buying">
  <{include file="topm/common/top.html"}>
  <section class="activity-going-list main">
    <{foreach from=$activity_list item=group}>
    <a href="<{url action=topm_ctl_activity@activity_item_list id=$group.activity_id}>" class="thumbs" data-id="<{$group.activity_id}>">
      <div class="thumbnail">
        <img src="<{$group.slide_images|storager}>">
        <div class="activity-img-cover">距活动开始：<span class="countdown-view" data-time="<{$group.start_time}>"></span></div>
      </div>
      <div class="caption">
        <div class="activity-discount"><{$group.discount_min/10}>折起</div>
        <div class="activity-title"><{$group.activity_name}></div>
      </div>
    </a>
    <{/foreach}>
  </section>
  <div id="gotop"></div>
</div>


<script>
//创建返回顶部组件
$('#gotop').gotop();
var now = "<{$now_time}>";

$('.thumbs').each(function(el,index){
  countdown($(index).find('.countdown-view'),{
    'start': $(index).find('.countdown-view').attr('data-time') - now,
    'secondOnly': false,
    'callback': null
  });
})
</script>

