<div class="shop group team-buying">
  <{include file="topm/common/top.html"}>
  <section class="main">
    <div class="activity-banner">
      <img src="<{$activity.slide_images|storager}>">
      <div class="activity-discount-list"><{$activity.discount_min/10}>折起</div>
      <div class="activity-img-cover">
        <{if $activity.release_time < $now_time  && $now_time < $activity.start_time}>
        距活动开始：<span class="countdown-view" data-time="<{$activity.start_time}>"></span>
        <{if $activity.remind_enabled}>
        <a href="<{url action=topm_ctl_activity@toRemind activity_id=$activity.activity_id}>" class="btn-remind">开售提醒</a>
        <{/if}>
        <{elseif $activity.start_time <= $now_time  && $now_time < $activity.end_time }>
        距活动结束：<span class="countdown-view" data-time="<{$activity.end_time}>"></span>
        <{elseif $activity.end_time <= $now_time }>
        活动已结束
        <{/if}>
      </div>
    </div>
    <div id="item_list">
      <{include file="topm/shop/promotion/itemlist.html"}>
    </div>
  </section>
  <div id="gotop"></div>
  <div class="theme-select-cover"></div>
</div>

<script>
  //创建slider组件
$('#slider').slider( { imgZoom: true });
//创建返回顶部组件
$('#gotop').gotop();
// 全setup方式调用
$('#backtop').backTop();

$('.theme-select-box').tap(function(e){
  var that = $(this).parents('.theme-select');
  $('.theme-select-cover').show();
  that.toggleClass('on');
  if(that.hasClass('on')){
    $('.theme-select-cover').show();
  }else{
    $('.theme-select-cover').hide();
  }
});

$('.theme-select-option li').tap(function(){
  var id = $(this).attr('data-id');
  $('#activity_id').val(id);
  $.ajax({
    url:"<{url action=topm_ctl_activity@search}>",
    type:"get",
    dataType:"html",
    data:{
      'id':id
    },
    success:function(rs){
     $('#item_list').html(rs);
     $('.option-fa li').eq(0).trigger('tap');
    }
  });
});

$(function(){
  $('.theme-select-option li').eq(0).trigger('tap');
})

$('body').on('click','.theme-select-cover',function(event){
  $('.theme-select').removeClass('on');
  $('.option-group .option-fa').find('li').eq(0).trigger('tap');
  $('.select-category-option').hide();
  $(this).hide();
});

$('#item_list').on('tap','.select-category',function(){
  $('.theme-select-cover').show();
  $('.select-category-option').toggle();
})

$('.theme-select-option').on('tap','li',function(){
  var themes = $(this).text();
  $(this).parents('.theme-select').find('.theme-select-box span').text(themes);
  $(this).parents('.theme-select').removeClass('on');
  $('.select-category-option').hide();
})

$('#item_list').on('tap','.option-fa li',function(){
  $(this).addClass('active').siblings().removeClass('active');
})

$('#item_list').on('tap','.option-ch li',function(){
  var catid = $(this).attr('data-cat-id');
  var id = $(this).attr('data-id');
  $('#cat_id').val(catid);
  $.ajax({
    url:"<{url action=topm_ctl_activity@itemlist}>",
    type:"get",
    dataType:"html",
    data:{
      'cat_id':catid,
      'id':id
    },
    success:function(rs){
      $('.data-list').html(rs);
      $('.select-category-option').hide();
    }
  });
})

var now = "<{$now_time}>";
var end_time = $('.countdown-view').attr('data-time');
countdown('.countdown-view',{
    'start': end_time - now,
    'secondOnly': false,
    'callback': null
  });
</script>

