<form action="<{url action=topshop_ctl_promotion_coupon@save_coupon}>" method="post" class="form-horizontal clearfix" data-validate-onsuccess="ajaxSubmit" role="form">
  <input type='hidden' name='coupon_id' value="<{$coupon_id}>">
  <div class="panel panel-default">
    <div class="panel-heading">设置优惠券名称</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <{t}>优惠券名称
            <{/t}>：</label>
        <div class="col-sm-4">
          <input type="text" name="coupon_name" required value="<{$coupon_name}>" class="form-control" placeholder="优惠券名称" maxlength="50" required>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">
          <{t}>优惠券描述
            <{/t}>：</label>
        <div class="col-sm-4">
          <input type="text" name="coupon_desc" required value="<{$coupon_desc}>" class="form-control" placeholder="优惠券描述" maxlength="50" required>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default select-goods-panel">
    <div class="panel-heading">
      选择适用商品
    </div>
    <div class="panel-body">
      <button class="btn btn-md btn-block btn-danger select-goods" data-remote="<{url action=topshop_ctl_selector_item@loadSelectGoodsModal}>" data-item_id="<{$notEndItem}>" data-textcol="title,price" data-target="#goods_modal" data-fetchgoods="<{url action=topshop_ctl_selector_item@formatSelectedGoodsRow}>">选择商品</button>
      <div class="selected-goods-list">

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">设置规则</div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-2 control-label">
          <{t}>使用平台
            <{/t}>：</label>
        <div class="col-sm-10 radio">
          <label class="form-inline">
            <input type="radio" name="used_platform" value='0' <{if $used_platform=='0' || !$used_platform}>checked
            <{/if}> > 全平台
          </label>
          <label class="form-inline">
            <input type="radio" name="used_platform" value='1' <{if $used_platform=='1' }>checked
            <{/if}> > pc端
          </label>
          <label class="form-inline">
            <input type="radio" name="used_platform" value='2' <{if $used_platform=='2' }>checked
            <{/if}> > wap端
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">适用会员：</label>
        <div class="col-sm-10">
          <label class="checkbox-inline">
            <input type="checkbox" name="grade_all" class="grade-all">
              全选
          </label>
          <{foreach from=$gradeList item=grade_item}>
            <label class="checkbox-inline">
              <input type="checkbox" name="grade[]" value="<{$grade_item.grade_id}>" class="grade-item" <{if $grade_item.is_checked}> checked
              <{/if}> >
                <{$grade_item.grade_name}>
            </label>
            <{/foreach}>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">
          <{t}>优惠券金额
            <{/t}>：</label>
        <div class="col-sm-10">
          <span class="form-text">满</span>
          <div class="col-sm-2">
            <input type="text" name="limit_money" value="<{$limit_money}>" class="form-control" min="1" required>
          </div>
          <span class="form-text">减</span>
          <div class="col-sm-2">
            <input type="text" name="deduct_money" value="<{$deduct_money}>" class="form-control" min="1" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">
          <{t}>生成优惠券总数量
            <{/t}>：</label>
        <div class="col-sm-2">
          <input type="number" name="max_gen_quantity" value="<{$max_gen_quantity}>" class="form-control" min="1" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">
          <{t}>用户总计可领取数量
            <{/t}>：</label>
        <div class="col-sm-2">
          <input type="number" name="userlimit_quantity" value="<{$userlimit_quantity}>" class="form-control" min="1" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          <{t}>优惠券可领取时间段
            <{/t}>：</label>
        <div class="col-sm-4">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" class="form-control pull-right reservation" style="max-width:100%;" readonly name="cansend_time" value="<{$cansend_time}>">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          <{t}>优惠券有效期
            <{/t}>：</label>
        <div class="col-sm-4">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" class="form-control pull-right reservation" style="max-width:100%;" readonly name="valid_time" value="<{$valid_time}>">
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-lg btn-block action-save">保存</button>
    </div>
    <div class="col-md-2">
      <a href="<{url action="topshop_ctl_promotion_coupon@list_coupon"}>"><button type="button" class="btn btn-default btn-lg btn-block action-cancel">取消</button></a>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</form>
<script>
$('.reservation').daterangepicker({
    "timePicker": true,
    "opens": "right",
    "timePicker24Hour": true,
    "timePickerIncrement": 1,
    "locale": {
        "format": "YYYY/MM/DD HH:mm"
    }
});

function ajaxSubmit (e) {
  var form = e.target;
  e.preventDefault();
  $.post(form.action, $(form).serialize(), function(rs) {
    if(rs.error) {
      $('#messagebox').message(rs.message);
      return;
    }
    if(rs.success) {
      $('#messagebox').message(rs.message, 'success');
    }
    if(rs.redirect) {
      location.href = rs.redirect;
    }
  });
}

var list = $('#op_items_list');
var added = $('#op_items_added');

var jsonData = '<{$notEndItem}>';
var addedItems;
if(jsonData == ''){
  addedItems = []
}else{
  addedItems = JSON.parse(jsonData);
}

function checkNext(el) {
  var next = el.parent().next().next().find('.add-items-select');
  if(!next){
    return false;
  }else{
    next.empty().append('<option value="">请选择</option>');
  };
  checkNext(next);
}


$('.action-checkall').change(function(e) {
    checkAll(this, $(this).parents('.item-filter-table').find('.action-checkitem'));
});
$('.action-add-item').click(function(e) {
    e.preventDefault();
    var items = list.find('.action-checkitem:checked');
    var pros = added.find('.items');
    if(pros.length ==0){
      added.empty();
    }
    items.filter(function (i) {
          if(addedItems.indexOf(this.value) < 0) {
              addedItems.push(this.value);
              return true;
          }
          $(this).parents('.item-filter-row').remove();
          return false;
      })
      .prop('checked', false)
      .parents('.item-filter-row').find('.action-checkitem').css('display','none')
      .parents('.item-filter-row').append('<div class="item-check del"><a class="item-del" href="#">删除</a></div>').appendTo(added);

    if(!list.children().length) {
        list.parents('.item-filter-table').find('.action-checkall').prop('checked', false);
    }
});
added.on('click','.item-del',function(e){
  e.preventDefault();
  var delVal = $(this).parents('.item-filter-row').find('.action-checkitem').val();
  $(this)
  .parents('.item-filter-row').find('.action-checkitem').css('display','inline-block')
  .parents('.item-filter-row').appendTo(list)
  .find('.del').remove();
  var emptyDom = '<div class="item-filter-row"><div align="center">暂未添加商品</div></div>'
  var pros = added.find('.items');
  if(pros.length ==0){
    added.append(emptyDom);
  }
  for (var i = 0; i < addedItems.length; i++) {
    if(delVal == addedItems[i]){
      addedItems.splice(i);
    }
  };
});
$('.action-delete-item').click(function(e) {
    e.preventDefault();
    added.find('.action-checkitem:checked')
      .filter(function (i, el) {
          addedItems.splice(addedItems.indexOf(el.value), 1);
          var checkbox = list.find('.action-checkitem');
          var result = true;
          checkbox.length && checkbox.each(function() {
              if(this.value == el.value) {
                  $(el).parents('.item-filter-row').remove();
                  result = false;
              }
          });
          return result;
      })
      .prop('checked', false)
      .parents('.item-filter-row').appendTo(list);

    if(!added.children().length) {
        added.parents('.item-filter-table').find('.action-checkall').prop('checked', false);
    }
});

$('.items-search').click(function(){
  var catID = $('#cat_id').val();
  var brandID = $('#brand_id').val();
  var itemsName = $('#items_name').val();
  getPro(catID, brandID, itemsName)
});

$('.conditions label').click(function() {
  var cidx = $(this).index();
  $('.condition-view>div').hide().eq(cidx).show();
  if($(this).hasClass('all')){
    $('.action-add-item').hide();
    $('.result').hide();
  }else{
    $('.action-add-item').show();
    $('.result').show();
  }
});

$('.action-save').click(function(e) {
  added.find('.action-checkitem').prop('checked', true);
});

//适用会员全选
$('.grade-all').on('change', function() {
  checkAll($(this), $('.grade-item'));
});
$('.grade-item').on('change', function() {
  var checked = $('.grade-item').filter(function(){
                  var tmp = $(this);
                  if(tmp.prop('checked')){
                      return this;
                  }
            });
  if(checked.length == $('.grade-item').length){
      $('.grade-all').prop('checked',true);
  }else{
      $('.grade-all').prop('checked',false);
  }
});
</script>
