<style>
  .ObjectBrace{color:#00AA00;font-weight:bold;}
  .ArrayBrace{color:#0033FF;font-weight:bold;}
  .PropertyName{color:#CC0000;font-weight:bold;}
  .String{color:#007777;}
  .Number{color:#AA00AA;}
  .Comma{color:#000000;font-weight:bold;}

  .json {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #f5f5f5;
    color: #007777;
  }
</style>
<div class='division tableform'>
  <table>
    <tr>
      <th>队列标识:</th>
      <td><{$queue_name}></td>
    </tr>
    <tr>
      <th>创建时间:</th>
      <td><{$create_time|cdate}></td>
    </tr>
    <tr>
      <th>队列数据:</th>
      <td><code id="json-output-queue-data" class="json"></code></td>
    </tr>
    <tr>
      <th>失败原因:</th>
      <td><code id="json-output-failed-reason" class="json"><span class="PropertyName"><{$reason}></span></code></td>
    </tr>
  </table>
  <div class='table-action'>
    <{button class='btn-secondary' type="button"  label="关闭"}>
  </div>
</div>
<script>
  $$('.btn-secondary').addEvent('click', function(){
    $$('.table-action')[0].getParent('.dialog').retrieve('instance').close();
  });
</script>

<script>

  function format_json(json){
    // 在大括号前后添加换行
    reg = /([\{\}])/g;
    json = json.replace(reg, '\r\n$1\r\n');
    // 中括号前后添加换行
    reg = /([\[\]])/g;
    json = json.replace(reg, '\r\n$1\r\n');
    // 逗号后面添加换行
    reg = /(\,)/g;
    json = json.replace(reg, '$1\r\n');
    // 去除多余的换行
    reg = /(\r\n\r\n)/g;
    json = json.replace(reg, '\r\n');
    // 逗号前面的换行去掉
    reg = /\r\n\,/g;
    json = json.replace(reg, ',');
    //冒号前面缩进
    reg = /\:/g;
    json = json.replace(reg, ': ');

    var result = '';
    json.split('\r\n').each(function(node, index) {
      node = node.replace(/([\{\}])/g,"<span class='ObjectBrace'>$1</span>");
      node = node.replace(/([\[\]])/g,"<span class='ArrayBrace'>$1</span>");
      node = node.replace(/(\".*\")(\:)(.*)(\,)?/g,"<span class='PropertyName'>$1</span>$2$3$4");
      node = node.replace(/\"([^"]*)\"(\,)?$/g,"<span class='String'>\"$1\"</span><span class='Comma'>$2</span>");
      node = node.replace(/(-?\d+)(\,)?$/g,"<span class='Number'>$1</span><span class='Comma'>$2</span>");
      result +=  node;
      return result;
    });

    return result;
  }

  var result_json = JSON.stringify(<{$data}>,undefined,2);
  document.getElementById('json-output-queue-data').innerHTML = format_json(result_json);
</script>

