<h3><{t}>编辑商户二级域名<{/t}></h3>

<form id="domainForm" action="?app=sysshop&ctl=admin_subdomain&act=saveSubdomain" method="POST" >
  <input type="hidden" name="shop_id" value="<{$shop_id}>">
  <div class="tableform">
    <div class="division">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <th><{t}>二级域名：<{/t}></th>
          <td><{input type="text" name="subdomain" style="width:120px" vtype="required" value=$subdomain}><em><font color='red'>*</font></em></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="table-action">
    <{button type="submit" id='subdomain-form-submit' label="保存"|t:'syscategory'}>
  </div>
</form>

<script>
  (function(){
    var _form = $('domainForm');
    var btn =$('subdomain-form-submit');
    var finder = finderGroup['<{$env.get._finder.finder_id}>'];

    _form.store('target',{
      onSuccess:function(response){
        var hash_res_obj = JSON.decode(response);

        if (hash_res_obj.success != undefined && hash_res_obj.success != ""){
          try{
            var _dialogIns = btn.getParent('.dialog').retrieve('instance');
          }catch(e){}

          if(_dialogIns){
            _dialogIns.close();
            window.finderGroup['<{$env.get._finder.finder_id}>'].refresh();
          }
        }
      }
    });

    btn.addEvent('click',function(){
      _form.fireEvent('submit',{stop:$empty});
    });

  })();
</script>
