<{if $type == 'mobile'}>
<{if $topshop.seller.auth_type == 'AUTH_MOBILE' || $topshop.seller.auth_type == 'AUTH_ALL'}>
	<form action="<{url action=topshop_ctl_auth_code@updateAuthCheck}>" method="post" class="form-horizontal clearfix" data-validate-onsuccess="ajaxSubmit" role="form">
	  <input type="hidden" name="type" value="<{$type}>" />
	  <div class="panel panel-default">
	    <div class="panel-heading">修改绑定</div>
	    <div class="panel-body">
	    	<div class="form-group">
	        <label for="" class="col-sm-2 control-label"><{t}>图形验证码<{/t}>：</label>
	        <div class="col-sm-3">
	          <input type="text" name="imgcode" id="img-code" value="" class="form-control" placeholder="请输入图片验证码"></div>
	        <div class="col-sm-4">
	        	<img align="absmiddle" class="auto-change-verify-handle" id="membervocde" src="<{url action=toputil_ctl_vcode@gen_vcode key=topshop_bind}>" alt="验证码" width="100" height="30">
						<p class="inline auto-change-verify-handle"><sapn>看不清？</span><a href="javascript:void(0);">换一张</a></p>
	        </div>
	      </div>
	      
	      <div class="form-group">
	        <label for="" class="col-sm-2 control-label"><{t}>手机号<{/t}>：</label>
	        <div class="col-sm-3">
	          <input type="text" name="auth_mobile" id="mobile" value="" class="form-control" placeholder="请输入手机号" required data-validate-mobile data-validate-remote-url="<{url action=topshop_ctl_auth_code@isErrorInfo type=$type ac=update}>"  data-validate-remote-message="此手机号已存在，请换一个重试"></div>
	        <div class="col-sm-3"><button class="btn btn-warning auth-code" type="button" >获取验证码</button></div>
	      </div>
	      <div class="form-group has-feedback">
	        <label for="" class="col-sm-2 control-label"><{t}>验证码<{/t}>：</label>
	        <div class="col-sm-3">
	          <input type="text" name="auth_code" value="" class="form-control" placeholder="请输入收到的验证码" required></div>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-4"></div>
	    <div class="col-md-4">
	      <button type="submit" class="btn btn-primary btn-lg btn-block action-save">立即修改</button>
	    </div>
	    <div class="col-md-4"></div>
	  </div>
	</form>
	<{else}>
		<div class="box box-primary">
				<div class="box-body">
				<p>您的手机尚未验证，您可以返回<a href="<{url action=topshop_ctl_auth_index@index}>">安全中心</a>进行验证</p>
				
				</div>
			</div>
	<{/if}>
<{elseif $type == 'email'}>
<{if $topshop.seller.auth_type == 'AUTH_EMAIL' || $topshop.seller.auth_type == 'AUTH_ALL'}>
	<form action="<{url action=topshop_ctl_auth_code@updateAuthCheck}>" method="post" class="form-horizontal clearfix" data-validate-onsuccess="ajaxSubmit" role="form">
	  <input type="hidden" name="type" value="<{$type}>" />
	  <div class="panel panel-default">
	    <div class="panel-heading">修改绑定</div>
	    <div class="panel-body">
	    	<div class="form-group">
	        <label for="" class="col-sm-2 control-label"><{t}>图形验证码<{/t}>：</label>
	        <div class="col-sm-3">
	          <input type="text" name="imgcode" id="img-code" value="" class="form-control" placeholder="请输入图片验证码"></div>
	        <div class="col-sm-4">
	        	<img align="absmiddle" class="auto-change-verify-handle" id="membervocde" src="<{url action=toputil_ctl_vcode@gen_vcode key=topshop_bind}>" alt="验证码" width="100" height="30">
						<p class="inline auto-change-verify-handle"><sapn>看不清？</span><a href="javascript:void(0);">换一张</a></p>
	        </div>
	      </div>
	      
	      <div class="form-group">
	        <label for="" class="col-sm-2 control-label"><{t}>邮箱地址<{/t}>：</label>
	        <div class="col-sm-3">
	          <input type="text" name="auth_email" id="email" value="" class="form-control" placeholder="请输入邮箱地址" required data-validate-email data-validate-remote-url="<{url action=topshop_ctl_auth_code@isErrorInfo type=$type ac=update}>"  data-validate-remote-message="此邮箱地址已存在，请换一个重试"></div>
	        <div class="col-sm-3"><button class="btn btn-warning auth-code" type="button" >获取验证码</button></div>
	      </div>
	      <div class="form-group has-feedback">
	        <label for="" class="col-sm-2 control-label"><{t}>验证码<{/t}>：</label>
	        <div class="col-sm-3">
	          <input type="text" name="auth_code" value="" class="form-control" placeholder="请输入收到的验证码" required></div>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-md-4"></div>
	    <div class="col-md-4">
	      <button type="submit" class="btn btn-primary btn-lg btn-block action-save">立即修改</button>
	    </div>
	    <div class="col-md-4"></div>
	  </div>
	</form>
	<{else}>
		<div class="box box-primary">
				<div class="box-body">
				<p>您的邮箱尚未验证，您可以返回<a href="<{url action=topshop_ctl_auth_index@index}>">安全中心</a>进行验证</p>
				
				</div>
			</div>
	<{/if}>
<{else}>
	<div class="box box-primary">
		<div class="box-body">
			<div>参数错误，返回<a href="<{url action=topshop_ctl_auth_index@index}>">安全中心</a></div>
		</div>
	</div>
<{/if}>
<script>
//更换图形验证码
$('.auto-change-verify-handle').on('click',function(){
	getImgCode();
})
function getImgCode(){
	
	var url = $('#membervocde').attr('src');
	 var random = +new Date;
	 var urlrandom = url.match(/\b_=([\d]+)\b/);
	    if(urlrandom) {
	        url = url.replace(urlrandom[1], random);
	    }
	    else {
	        url += (url.indexOf('?') > -1 ? '&' : '?') + '_=' + random;
	    }
	    $('#membervocde').attr('src', url);
	    return false;
}
	//获取手机验证码
	var btn = $('.auth-code');
	var type = '<{$type}>';
	var countdown = 120, t;
	function setTime(val){
		
		t = setTimeout(function() { 
			setTime(val) 
			},1000);
		
		if(countdown == 0){
			btn.removeAttr("disabled");
			btn.html('重新获取验证码');
			countdown = 120; 
			clearTimeout(t);
		}else{
			btn.attr("disabled", true); 
			btn.html(countdown+"s后重新获取验证码");
			countdown --;
			
		}
		
	}
	btn.on('click',function(){
		var authInfo = $('#<{$type}>').val();
		var imgcode = $('#img-code').val();
		$.ajax({
			'url':'<{url action=topshop_ctl_auth_code@send}>',
			'data': 'auth_info='+authInfo+'&type='+type+'&ac=update&imgcode='+imgcode+'&imagevcodekey=topshop_bind',
			'dataType':'json',
			'type':'POST',
			'success':function(rs){
				if(rs.error) {
	                $('#messagebox').message(rs.message);
	                $('#img-code').val("").focus();
	                getImgCode();
	                return;
	            }
	            if(rs.success) {
	                $('#messagebox').message(rs.message, 'success');
	                setTime(this);
	            }
			}
		});
		
	})
	
	function ajaxSubmit(e) {
        var form = e.target;
        e.preventDefault();
        $.post(form.action, $(form).serialize(), function(rs) {
            if(rs.error) {
                $('#messagebox').message(rs.message);
                return;
            }
            if(rs.success) {
                $('#messagebox').message(rs.message, 'success');
            }
            if(rs.redirect) {
                setTimeout(function(){location.href=rs.redirect;}, 1000);
            }
        });
    }
</script>