<form id="activity_form" name="activity_form" action="?app=syspromotion&ctl=admin_activity&act=save"  method="POST" >
<input type="hidden" name="ruledata[activity_id]" value="<{$ruleInfo.activity_id}>">
<div class="tableform">
<div class="division">
  <{if $status == '1'}>
  <{include file="syspromotion/activity/not_apply_edit.html"}>
  <{elseif $status == '2'}>
  <{include file="syspromotion/activity/apply_begin_edit.html"}>
  <{elseif $status == '3'}>
  <{include file="syspromotion/activity/release_begin_edit.html"}>
  <{elseif $status == '4'}>
  <{include file="syspromotion/activity/edit_detail.html"}>
  <{/if}>
</div>
</div>

<{capture name='footbar'}>
<table cellspacing="0" cellpadding="0" class="table-action">
  <tbody><tr valign="middle">
      <td>
        <{if $status != '4'}>
        <{assign var="___a"  value="关  闭"}>
        <{assign var="___c"  value=$___b2c='确定退出?'|t:'b2c'}>
        <{button label=$___b2c="发布并关闭窗口"|t:'b2c' class="btn-primary" type="button" id="submitForm" onclick="submitForm(event,2)"}>
        <{button label=$___content=$___a|t:'content' class="btn-secondary" type="button" onclick="if(confirm('{$___c}'))window.close()"}>
        <{else}>
        <button class="btn-primary" type="button">此活动不可编辑</button>
        <{/if}>
      </td>
    </tr>
  </tbody>
</table>
<{/capture}>

</form>

<script>
  $$('.act-autoclose').addEvent('click', function(e){
    if(this.value == 'true') {
      this.getNext('input[type=text]').show();
    }
    else if(this.value == 'false') {
      this.getNext('input[type=text]').hide();
    }
  });

  function isChecked(dom) {
    var dom = $$('input[name=ruledata[remind_enabled]]:checked');
    if(dom.get('value')==1){
      $$('.remind').show();
    }else{
      $$('.remind').hide();
    }
  }

  window.addEvent('domready',function(){
    isChecked();
  })

  $$('input[name=ruledata[remind_enabled]]').addEvent('click',function(){
    isChecked(this);
  });


  var submitForm = function (event,sign){
    var _form=$('activity_form');

    switch (sign){
        case 1:
            var target={
              onComplete:function(){
                location.reload();
              }};
              break;
          case 2:
              var target={
                onComplete:function(rs){
                  if(rs&&!!JSON.decode(rs).success){
                    try{
                      window.opener.finderGroup['<{$env.get.finder_id}>'].refresh();
                      window.close();
                    }catch(e){}
                  }
                }};
                break;
    }
    _form.store('target',target);
    _form.fireEvent('submit',new Event(event));
  };

  //全选
  $('ruledata[shoptype]_all').addEvent('click', function() {
    $$('input[name="ruledata[shoptype][]"]').each(function(item) {
      if($('ruledata[shoptype]_all').checked) {
        item.checked = 'checked';
      } else {
        item.checked = '';
      }
    });
  });
  $$('input[name="ruledata[shoptype][]"]').each(function(item) {
    item.addEvent('click', function() {
      if(item.checked) {
        var i = 0;
        $$('input[name="ruledata[shoptype][]"]').each(function(chk) {
          if(chk.checked == '') {
            i += 1;
          }
        });
        if(i == 0) {
          $('ruledata[shoptype]_all').checked = 'checked';
        }
      } else {
        $('ruledata[shoptype]_all').checked = '';
      }
    });
  });

  $('ruledata[limit_cat]_all').addEvent('click', function() {
    $$('input[name="ruledata[limit_cat][]"]').each(function(item) {
      if($('ruledata[limit_cat]_all').checked) {
        item.checked = 'checked';
      } else {
        item.checked = '';
      }
    });
  });
  $$('input[name="ruledata[limit_cat][]"]').each(function(item) {
    item.addEvent('click', function() {
      if(item.checked) {
        var i = 0;
        $$('input[name="ruledata[limit_cat][]"]').each(function(chk) {
          if(chk.checked == '') {
            i += 1;
          }
        });
        if(i == 0) {
          $('ruledata[limit_cat]_all').checked = 'checked';
        }
      } else {
        $('ruledata[limit_cat]_all').checked = '';
      }
    });
  });
</script>

