<div class="panel panel-default">
  <div class="panel-heading">
  	<div class="clearfix">
  		<div class="pull-right">
      		<a href="<{url action=topshop_ctl_shop_article@editArticle}>" class="btn btn-info">添加文章</a>
      		&nbsp;&nbsp;
      		<a href="<{url action=topshop_ctl_shop_article@nodes}>" class="btn btn-warning btn-sm">文章分类</a>
      	</div>
      </div>
        <h4>文章查询</h4>
  <form class="form-horizontal" action="<{url action=topshop_ctl_shop_article@index}>" method="get" >

    <div class="form-group">
      <div class="col-xs-4">
        <span class="order-form-w1">文章名称：</span><input class="x-input" type="text" name="s_k" <{if $search.keyword}> value="<{$search.keyword|escape:"html"}>" <{/if}>>
      </div>
      <div class="col-xs-4">
        <span class="order-form-w1">文章分类：</span>
        <select name="s_n" class="x-input select-reset">
            <option value="">请选择</option>
            <{foreach from=$nodes.list item=node}>
            <option value="<{$node.node_id}>" <{if $node.node_id==$search.node}>selected<{/if}>><{$node.node_name}></option>
            <{/foreach}>
          </select>
      </div>
      <div class="col-xs-4">
      <button type="submit" class="btn btn-primary">提交</button>
      <button type="button" class="btn btn-default" id="reset-form">重置</button>
      </div>
    </div>
  </form>
  </div>
  <div class="panel-body">
    <table class="table table-primary table-hover table-goods text-center">
	  <thead>
	    <tr>
	      <td class="col-name">文章标题</td>
	      <!-- <td>发布终端</td> -->
	      <td>文章分类</td>
	      <td>发布时间</td>
	      <td>更新时间</td>
	      <td>操作</td>
	    </tr>
	  </thead>
	  <{if $list}>
	  <tbody>
	  <{foreach from=$list item=info}>
	  <tr>
	  	<td><{$info.title}></td>
	  	<!-- 
	  	<td>
	  	<{if $info.platform==1}>
	  	电脑端
	  	<{elseif $info.platform==2}>
	  	移动端
	  	<{else}>
	  	电脑端和移动端
	  	<{/if}>
	  	</td>
	  	 -->
	  	
	  	<td><{$info.node_name}></td>
	  	<td><{$info.pubtime|cdate}></td>
	  	<td><{$info.modified|cdate}></td>
	  	<td>
	  	<a href="<{url action=topshop_ctl_shop_article@editArticle id=$info.article_id}>">编辑</a>
	  	&nbsp;|&nbsp;
	  	<a class="del-info" href="javascript:void(0);" data-id="<{$info.article_id}>">删除</a>
	  	&nbsp;|&nbsp;
	  	<a class="viewlink-info" href="javascript:void(0);" data-id="<{$info.article_id}>">查看链接</a>
	  	</td>
	  </tr>
	  <{/foreach}>
	  </tbody>
	  <{else}>
	   <tbody>
	      <tr>
	        <td algin="center" colspan="6">
	          <p class="text-muted well no-shadow text-center">暂无数据</p>
	        </td>
	      </tr>
	    </tbody>
	  <{/if}>
	  </table>
  </div>
</div>

 <{if $count}>
<{pagers data=$pagers}>
  <span class="page-number">共&nbsp;<em class="text-aqua"><{$count}></em>&nbsp;条记录</span>
  <{/if}>
  
  <!-- 删除提示框 -->
<div class="modal fade" id="del-node" tabindex="-1" role="dialog" aria-labelledby="delCatLabel">
	<div class="modal-dialog modal-sm" role="document" aria-hidden="true">
		<div class="modal-content del-node">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        				<h4 class="modal-title" id="gridSystemModalLabel">删除文章</h4>
			</div>
			<div class="modal-body">
			        你确定要删除此文章吗？
			      </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        				<button type="button" class="btn btn-primary" id="del-cat-sure">确定</button>
			</div>
		</div>
	</div>
</div>

<!-- 查看链接弹窗 -->
<div class="modal fade" id="link-view" tabindex="-1" role="dialog" aria-labelledby="link-view">
	<div class="modal-dialog" role="document" aria-hidden="true">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        				<h4 class="modal-title" id="gridSystemModalLabel">查看文章链接</h4>
			</div>
			<div class="modal-body">
			        <div class="link-view"></div>
			        <br>
			        <span class="text-warning">注：未到发布时间的文章不能在前端查看。您可以<a target="_blank" href="" class="text-primary preview-info">预览文章</a>。</span>
			      </div>
		</div>
	</div>
</div>
  <script>
  // 查看链接
  var viewLinkModal = $('.viewlink-info');
  var viewLinkUrl = '<{url action=topc_ctl_shopcenter@shopArticle shop_id=$shop_id}>'
  var previewLinkUrl = viewLinkUrl+'&preview=1';
  viewLinkModal.each(function(){
	  var $this = $(this);
	  $this.on('click',function(){
		  var articleId = $this.attr('data-id');
		  var viewLinkHtml = '文章链接为：'+viewLinkUrl+'&aid='+articleId;
		  previewLinkUrl = previewLinkUrl+'&aid='+articleId
		  $('.link-view').html(viewLinkHtml);
		  $('#link-view').modal('show');
		  $('.preview-info').attr('href', previewLinkUrl);
	  });
  });
//删除文章
  var delModal = $('.del-info');
  var delUrl = '<{url action=topshop_ctl_shop_article@delArticle}>';
	delModal.each(function(){
		var $this = $(this);
		$this.on('click',function(){
			$('#del-node').modal('show');
			$('#del-cat-sure').on('click',function(){
				$('#del-node').modal('hide');
				var articleId = $this.attr('data-id');
				$.post(delUrl,{id:articleId},function(rs){
					  if(rs.error) {
				        $('#messagebox').message(rs.message);
				        return;
				      }
				      if(rs.success) {
				        $('#messagebox').message(rs.message, 'success');
				      }
				      if(rs.redirect) {
				        setTimeout(function(){location.href=rs.redirect;}, 800);
				      }
				})
			})
		})
	})
	// 重置表单
  $('#reset-form').on('click',function(){
	 $('input:visible').val('');
	 $('.select-reset').val('');
  })
  </script>