<div class="find-one find-password">
  <header>
    <div class="list-hd">
      <div class="backto icon-back ">
        <input type="button" name="returnBcak" onclick="history.back()">
      </div>
      <div class="tit">找回密码</div>
      <div class="clicks">
        <a href="<{url action=topm_ctl_passport@signin}>">退出</a>
      </div>
    </div>
  </header>
  <div class="main" id="main">
    <div class="status-bar" id="forgot_step">
      <div> <i class="icon icon-arrow-right-b icon-first"></i>
        1 身份验证 <i class="icon icon-arrow-right-b icon-last" data-icon="\2816"></i>
      </div>
      <div class="on">
        <i class="icon icon-arrow-right-b icon-first"></i>
        2  重置密码
        <i class="icon icon-arrow-right-b icon-last"></i>
      </div>
    </div>
    <div id="forgot_pass" class="forgot_pass">
      <div class="find-three">
        <form id="setNewPassword" action="<{url action=topm_ctl_member_deposit@forgetPasswordFinished}>" method="post" class="form-tip-horizontal">
          <input type="hidden" name="userid" value="<{$data.user_id}>">
          <input type="hidden" name="key" value="<{$data.key}>">
          <input type="hidden" name="account" value="<{$account}>">
          <ul>
            <li class="form-row">
              <label for="" class="form-label">新密码</label>
              <input class="input-ln auto-password-check-handle" type="password" name="password" id="" placeholder="6-20个字符" required minlength="6" maxlength="20" data-caution="请填写密码，6-20个字符&&输入不正确，最少6个字符">
            </li>
            <li class="form-row">
              <label for="" class="form-label">确认新密码</label>
              <input class="input-ln" type="password" name="confirmpwd" id="" required data-equalto="password" placeholder="请重新输入新密码" data-caution="请再次输入新密码">
            </li>
            <li class="form-row commit">
              <button type="button" class="ui-btn-warning form-submit">确认</button>
            </li>
          </ul>
        </form>
      </div>
      <script>
        var Message = new gmu.Message();
        var form = $('#setNewPassword');

        $('.form-submit').tap(function(){
          //var pwd = $('input[name="new_password"]').val();
          //var pwd_second = $('input[name="confirm_password"]').val();
          //if(!/^(?![^a-zA-Z]+$)(?!\D+$).{6,20}$/.test(pwd)) {
          //  $('.password-dialog p').text("密码设置不符合要求");
          //  $('#password_dialog').dialog('open');
          //  return;
          //}
          //if(pwd != pwd_second) {
          //  $('.password-dialog p').text("两次密码输入不一致");
          //  $('#password_dialog').dialog('open');
          //  return;
          //}
          $.post(form.attr('action'), form.serialize(), function(rs) {
            if(rs.error) {
              return Message.error(rs.message);
            }
            Message.success('设置成功');
            if(rs.redirect)
            window.location.href = rs.redirect;
          });
          // $('#setPayPwdForm').submit();
        });

      </script>
    </div>
  </div>
</div>


