<div class="find-one find-password">
  <header>
    <div class="list-hd">
      <div class="backto icon-back ">
        <input type="button" name="returnBcak" onclick="history.back()">
      </div>
      <div class="tit">找回密码</div>
      <div class="clicks">
        <a href="<{url action=topm_ctl_passport@signin}>">退出</a>
      </div>
    </div>
  </header>
  <div class="main" id="main">
    <div class="status-bar" id="forgot_step">
      <div> <i class="icon icon-arrow-right-b icon-first"></i>
        1 身份验证 <i class="icon icon-arrow-right-b icon-last" ></i>
      </div>
      <div>
        <i class="icon icon-arrow-right-b icon-first"></i>
        2  重置密码
        <i class="icon icon-arrow-right-b icon-last"></i>
      </div>
      <div class="on class="on"">
        <i class="icon icon-arrow-right-b icon-first" data-icon="\2816"></i>
        3 重置结果
      </div>
    </div>
    <div class='main'>
      <div style="text-align:center">
        支付密码修改成功！
      </div>
      <div >
        &nbsp
      </div >
      <a href="<{url action=topm_ctl_default@index}>">
      <div style="text-align:center">
        去逛逛
      </div>
      </a>
    </div>
  </div>
</div>
