 <div class="signin">
    <header>
        <div class="list-hd">
          <div class="backto icon-back">
            <input type="button" name="returnBcak" onclick="history.back()">
          </div>
          <div class="tit">设置支付密码</div>
        </div>
    </header>

    <!-- main container -->
    <div class="main">
      <div class="pwd-remind">
        <span>6-20个字符，支付密码不得与登录密码一致，至少包含数字、大写英文、小写英文中的两种。</span>
      </div>
      <div class="form-in">
        <form action="<{url action=topm_ctl_member_deposit@doModifyPassword}>" method="post" id="setPayPwdForm" data-async="false">
          <ul class="pwd-list">
            <{if $hasDepositPassword}>
            <li class="form-row">
              <input type="password" class="input-block auto-password-check-handle" name="old_password" placeholder="请输入旧支付密码" required minlength="6" maxlength="20" data-caution="请填写密码，6-20个字符">
            </li>
            <{/if}>

            <li class="form-row">
              <input type="password" class="input-block auto-password-check-handle" name="new_password" placeholder="请输入新支付密码" required minlength="6" maxlength="20" data-caution="请填写密码，6-20个字符">
            </li>
            <li class="form-row">
              <input type="password" class="input-block auto-password-check-handle" name="confirm_password" placeholder="请再次输入支付密码" required minlength="6" maxlength="20" data-caution="请填写密码，6-20个字符">
            </li>
            <li class="form-row">
              <button type="button" class="ui-btn-warning form-submit" rel="_request">
                确认提交
              </button>
            </li>
          </ul>
        </form>
      </div>
    </div>
    <div id="password_dialog" style="display:none;">
      <div class="password-dialog">
        <p>密码设置不符合要求</p>
      </div>
    </div>
  </div>
  <script>
    var Message = new gmu.Message();
    var form = $('#setPayPwdForm');
    $('#password_dialog').dialog({
      autoOpen: false,
      closeBtn: false,
      buttons: {
          '确认': function(){
            this.close();
          }
      }
    });
    $('.form-submit').tap(function(e){
      e.preventDefault();
      var pwd = $('input[name="new_password"]').val();
      var pwd_second = $('input[name="confirm_password"]').val();
      if(!/^(?![^a-zA-Z]+$)(?!\D+$).{6,20}$/.test(pwd)) {
        $('.password-dialog p').text("密码设置不符合要求");
        $('#password_dialog').dialog('open');
        return;
      }
      if(pwd != pwd_second) {
        $('.password-dialog p').text("两次密码输入不一致");
        $('#password_dialog').dialog('open');
        return;
      }
      $.post(form.attr('action'), form.serialize(), function(rs) {
        if(rs.error) {
          return Message.error(rs.message);
        }
        Message.success('设置成功');
        if(rs.redirect)
          window.location.href = rs.redirect;
      });
      // $('#setPayPwdForm').submit();
    });
  </script>
