 <div class="signin">
    <header>
        <div class="list-hd">
          <div class="backto icon-back">
            <input type="button" name="returnBcak" onclick="history.back()">
          </div>
          <div class="tit">验证登录密码</div>
        </div>
    </header>

    <!-- main container -->
    <div class="main">
      <div class="form-in">
        <form action="<{url action=topm_ctl_member_deposit@doModifyPasswordCheckLoginPassword}>" method="post" id="loginPwdForm" data-async="false">
          <ul class="pwd-list">
            <li class="form-row">
              <input type="password" class="input-block auto-password-check-handle" name="password" placeholder="请输入登录密码" required minlength="6" maxlength="20" data-caution="请填写密码，6-20个字符">
            </li>
            <li class="form-row">
                <button type="button" class="ui-btn-warning form-submit" rel="_request">
                  下一步
                </button>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
  <script>
  var Message = new gmu.Message();
  var form = $('#loginPwdForm');
  $('.form-submit').tap(function(e){
      e.preventDefault();
      var pwd = $('input[name="login_pwd"]').val();
      if( pwd=="" ) {
        Message.error("请输入登录密码");
        return;
      }
      $.post(form.attr('action'), form.serialize(), function(rs) {
        if(rs.error) return Message.error(rs.message);
        if(rs.redirect)
          window.location.href = rs.redirect;
      });
      // $('#loginPwdForm').submit();
    });
  </script>


