<div class="address-edit recharge-pay">
  <header>
    <div class="list-hd">
      <div class="backto icon-back">
        <input type="button" name="returnBcak" onclick="history.back()">
      </div>
      <div class="tit">预存款充值</div>
    </div>
  </header>
  <div class="main" id="main">
    <div class="remind-content">
      <span class="error-icon"><i class="icon-close"></i></span>抱歉，充值失败！
    </div>
    <div class="next">
      <a href="" class="btn-block ui-btn ui-btn-warning">返回支付</a>
    </div>
  </div>
</div>
