<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> <{$env.conf.base.product_version}>
  </div>
  <strong>Copyright &copy; 2014-2016 <a href="http://onex.shopex.cn/products/B2B2C">ONexB2B2C</a>.</strong>Shopex
</footer>
<aside class="control-sidebar control-sidebar-dark">
  <div class="tab-content">
    <div class="tab-pane" id="control-sidebar-home-tab">

    </div>
  </div>
</aside>
<div class="control-sidebar-bg"></div>
</div>

<{script app="topdev" src="jquery-2.2.3.min.js"}>
<{script app="topshop" src="lib/bootstrap.js"}>
<{script app="topdev" src="jquery.slimscroll.js"}>
<{script app="topdev" src="app.min.js"}>
<{script app="topdev" src="demo.js"}>

