<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>ONEX 多用户商城API管理</title></title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<{css app="topdev" src="bootstrap.min.css"}>
<{css app="topdev" src="font-awesome.min.css"}>
<{css app="topdev" src="ionicons.min.css"}>
<{css app="topdev" src="theme.min.css"}>
<{css app="topdev" src="_all-skins.min.css"}>
<{script app="topdev" src="jquery-2.2.3.min.js"}>
<{script app="topshop" src="lib/bootstrap.js"}>
