<form class="form-container" action="<{url action=topwap_ctl_passport@verifyVcode}>" method="post" id="form_register">
  <input type="hidden" name="uname" value="<{$data.mobile}>">
  <input type="hidden" name="type" value="<{$data.type}>">
  <section class="shopex-content-padded">
    验证码已发送至您的手机：<mark><{$data.mobile}></mark>
  </section>
  <section class="shopex-input-group">
    <div class="form-inline">
      <div class="shopex-input-row form-inline-adaptive">
        <label>验证码：</label>
        <input type="text" name="vcode" class="shopex-input-clear" placeholder="请输入短信验证码">
      </div>
      <div class="form-inline-unadaptive">
        <button type="button" id="send_vcode" class="shopex-btn shopex-btn-warning shopex-btn-block btn-action">发送验证码</button>
      </div>
    </div>
  </section>
  <section class="shopex-content-padded form-op-section">
    <button type="submit" class="shopex-btn shopex-btn-block shopex-btn-warning bbc-btn-warning" >下一步</button>
  </section>
</form>

<script>
  $('#form_register').find('button[type=submit]').data('ajaxConfig', {
    "update": "#forgot_pass",
  });

  var form = $('#form_register');
  $('#send_vcode').on('click', function(e) {
    var type = form.find('input[name=type]').val();
    var uname = form.find('input[name=uname]').val();
    if($(this).hasClass('disabled')) return false;
    sendVerify(this, 'uname='+uname+'&type=' +type);
  })

  function sendVerify(el, data) {
    var url = "<{url action=topwap_ctl_passport@sendVcode}>";
    var textCont = $(el);
    $(el).addClass('disabled');
    textCont.html('<i>0</i>');
    var cd = new countdown(textCont.find('i'), {
      start: 120,
      secondOnly: true,
      callback: function(e) {
        $(el).removeClass('disabled');
        textCont.html('重发验证码');
      }
    });
    $.post(url, data, function(rs) {
      if(rs.error) {
        cd.stop();
        alert(rs.message);
        $(el).removeClass('disabled');
        textCont.html('重发验证码');
      }
    });
  }
</script>
