<header class="page-header">
	<i class="header-left icon-func bbc-icon bbc-icon-back shopex-action-back"></i>
	<div class="header-title"><{$title}></div>
</header>
<section class="container">
	<section
		class="section-white section-container pay-order-info pay-success">
		<i class="bbc-icon bbc-icon-right bbc-icon-full-cricle"></i>
		<div class="pay-order-info">
			<div class="order-status">下单成功</div>
			<p>等待商家发货</p>
		</div>
	</section>
	<section class="pay-op-price">
		支付金额：
		<mark>2392.00</mark>
	</section>
	<section class="shopex-content-padded">
		<a href="<{url action=topwap_ctl_member_trade@tradeList}>"
			class="shopex-btn shopex-btn-block shopex-btn-warning bbc-btn-warning">查看订单</a>
	</section>
</section>
