<div class="item-block item-user">
    <div class="item-info-default">
        <dl class="clearfix">
            <dt><span><i></i></span></dt>
            <dd>入驻申请：<em><{$applydata.shopnum|default:0}></em></dd>
            <dd>店铺总数：<em><{$applydata.shopaccount|default:0}></em></dd>
        </dl>
    </div>
    <div class="btn-default">
        <a href="?app=sysshop&ctl=admin_enterapply&act=index" class="btn"><span><span>入驻申请<em class="has-info"></em></span></span></a>
        <a href="?app=sysshop&ctl=admin_shop&act=index" class="btn"><span><span>店铺列表</span></span></a>
    </div>
</div>
