
    <div class="tableform">
        <div class="division" style="position:static;">
            <h3><{t}><{$promotion_tag}><{/t}></h3>
            <table width="100%" border="0" cellpadding="0" cellspacing="0"  class="shop-setting">
                <tr>
                    <th><{t}>X件Y折促销名称<{/t}>：</th>
                    <td><{$xydiscount_name}></td>
                </tr>
                <tr>
                    <th><{t}>优惠条件<{/t}>：</th>
                    <td>
                    <{if $condition_value}>
                        <{foreach from=$condition_value item=condition}>
                        满<{$condition[0]}>件，给予<{$condition[1]}>% 折扣
                        <{/foreach}>
                    <{/if}>
                    </td>
                </tr>
                <tr>
                    <th><{t}>规则描述<{/t}>：</th>
                    <td>
                        <{if $xydiscount_desc}><{$xydiscount_desc}>
                        <{else}>
                            <{foreach from=$condition_value item=condition}>
                                满<{$condition[0]}>件，给予<{$condition[1]}>% 折扣
                            <{/foreach}>
                        <{/if}>
                    </td>
                </tr>
                <tr>
                    <th><{t}>时间创建<{/t}>：</th>
                    <td><{$created_time|cdate:FDATE_STIME}></td>
                </tr>
                <tr>
                    <th><{t}>开始时间<{/t}>：</th>
                    <td><{$start_time|cdate:FDATE_STIME}></td>
                </tr>
                <tr>
                    <th><{t}>结束时间<{/t}>：</th>
                    <td><{$end_time|cdate:FDATE_STIME}></td>
                </tr>
                <tr>
                    <th><{t}>适用会员<{/t}>：</th>
                    <td><{$grade_str}></td>
                </tr>
                <tr>
                    <th><{t}>使用平台<{/t}>：</th>
                    <td>
                        <{if $used_platform=='0' || !$used_platform}>全平台(pc+wap)
                        <{elseif $used_platform=='1'}>pc端
                        <{elseif $used_platform=='2'}>wap端
                        <{/if}>
                    </td>
                </tr>
                <tr>
                    <th><{t}>参与次数<{/t}>：</th>
                    <td><{$join_limit}></td>
                </tr>
            </table>
        </div>
        <div class="division" style="position:static;">
            <h3><{t}>店铺信息<{/t}></h3>
            <table width="100%" border="0" cellpadding="0" cellspacing="0"  class="shop-setting">
                <tr>
                    <th><{t}>店铺名称<{/t}>：</th>
                    <td><{$shop_id|shopname}></td>
                </tr>
                <{if $examine_setting}>
                <tr>
                    <th><{t}>审核状态<{/t}>：</th>
                    <td class="red"><{$xydiscount_status|json2value:'{"pending":"待审核","agree":"审核通过","refuse":"审核拒绝"}'}></td>
                </tr>
                <tr>
                    <{if $xydiscount_status =='refuse'}>
                    <th><{t}>驳回原因<{/t}>：</th>
                    <td class="red"><{$reason}></td>
                    <{/if}>
                </tr>
                <{/if}>
            </table>
        </div>
        <div class="division" style="position:static;">
            <h3><{t}>商品信息<{/t}></h3>
            <div class="tableform">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="gridlist">
                    <thead>
                        <tr>
                            <th><{t}>商品编号：<{/t}></th>
                            <th><{t}>商品名称：<{/t}></th>
                            <th><{t}>商品售价：<{/t}></th>
                        </tr>
                    </thead>
                    <tbody>
                    <{foreach from=$itemsList item=item}>
                    <tr>
                        <td><{$item.item_id}></td>
                        <td>
                            <img src="<{$item_default_image|storager:t}>">
                            <a href="<{url action=topc_ctl_item@index  item_id=$item.item_id}>" target="_blank"><{$item.title}></a>
                        </td>
                        <td><{$item.price|cur}></td>
                    </tr>
                    <{/foreach}>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="division" style="position:static;">
            <h3><{t}>审核记录<{/t}></h3>
            <div class="tableform">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="gridlist">
                    <thead>
                        <tr>
                            <th style="width:200px;"><{t}>审核时间<{/t}></th>
                            <th style="width:200px;"><{t}>审核结果<{/t}></th>
                            <th><{t}>拒绝原因<{/t}></th>
                        </tr>
                    </thead>
                    <tbody>
                    <{foreach from=$examineLog item=loginfo}> 
                    <tr>
                        <td><{$loginfo['time']|cdate:FDATE_STIME}></td>
                        <{if $loginfo['approve_status'] =='agree'}>
                        <td>审核通过</td>
                        <{/if}>
                        <{if $loginfo['approve_status'] =='refuse'}>
                        <td>审核驳回</td>
                        <{/if}>
                        <td><{$loginfo['reason']}></td>
                    </tr>
                    <{/foreach}>
                    </tbody>
                </table>
            </div>
        </div>
        <{if $examine_setting}>
            <{if $xydiscount_status == "pending"}>
            <div class="table-action">
                <{button id="action-agree" class="button" target="{update:'messagebox'}" label="审批通过"}>
                <{button id="action-refuse-dialog" class="button" label="审批驳回"}>
            </div>
            <{/if}>
        <{/if}>
    </div>

<script>
    var approve_url = "?app=syspromotion&ctl=admin_xydiscount&act=approve";
    var refuse_url = "?app=syspromotion&ctl=admin_xydiscount&act=refuse&shop_id=<{$shop_id}>&xydiscount_id=<{$xydiscount_id}>&xydiscount_status=refuse&finder_id=<{$env.get.finder_id}>";

    $('action-refuse-dialog').addEvent('click',function(e){
        e.stop();
        new Dialog(
            refuse_url,
            {
                modal:true,
                height:180,
                width:360,
                ajaks: false,
                ajaksable: false,
                title:'<{t}>填写审核驳回原因<{/t}>'
            }
        );
    })

    $('action-agree').addEvent('click',function(e){
        var flag = false;
        var url = window.location.href;
        if(url.indexOf("singlepage") == -1){
            var flag = true;
        }else{
            var flag = false;
        }
        e.stop();
        var cfm_str = '确认审核通过？';
        if(cfm_str&&!confirm(cfm_str)){ return; }
        new Request.JSON({
            url:approve_url,
            method:'post',
            data:'shop_id=<{$shop_id}>&xydiscount_id=<{$xydiscount_id}>&xydiscount_status=agree',
            onComplete:function(rs){
                if(rs.success){
                    MessageBox.success(rs.success);
                    if(flag){
                        window.finderGroup['<{$env.get.finder_id}>'].refresh();
                        window.close();
                    }else{
                        window.opener.finderGroup['<{$env.get.finder_id}>'].refresh();
                        window.close();
                    }
                }else{
                    MessageBox.error(rs.error);
                }
            }
        }).send();
    });

</script>
