<header class="page-header">
  <i class="header-left icon-func bbc-icon bbc-icon-back shopex-action-back"></i>
  <div class="header-title"><{$error}></div>
</header>
<section class="container">
  <section class="section-container">
    <div class="pay-order-info content-center">
      <p><{$error}></p>
    </div>
  </section>
  <section class="shopex-content-padded">
    <a href="<{url action=topwap_ctl_default@index}>" class="shopex-btn shopex-btn-block shopex-btn-warning bbc-btn-warning">挑选其他商品</a>
  </section>
</section>
