<div class="tableform">
  <div class="division">
    <{if $detail}>
    <{if $detail.pay_type == "offline"}>
    <h3>货到付款</h3><hr>
    <{if $detail.op_name}><label><{t}>商家操作员：<{/t}></label> <{$detail.op_name}><{/if}>
    <{elseif $detail.pay_type == online}>
      <h3>"线上支付"的支付信息</h3><hr>
      <table width="100%" >
        <tr>
          <th><label><{t}>支付方式：<{/t}></label></th> <td><{if $detail.pay_app_id}> <{$detail.pay_app_id}> <{if $detail.pay_name}>(<{$detail.pay_name}>)<{/if}><{/if}></td>
          <th><label><{t}>支付账户：<{/t}></label></th> <td><{if $detail.pay_account}> <{$detail.pay_account}><{else}>暂无<{/if}></td>
          <th><label><{t}>支付网关费用：<{/t}></label></th> <td><{if $detail.paycost}><{$detail.paycost|cur}><{else}>暂无<{/if}></td>
        </tr>
        <tr>
          <th><label><{t}> 支付ip：<{/t}></label></th> <td><{if $detail.ip}><{$detail.ip}><{else}>暂无<{/if}></td>
          <th><label><{t}> 第三方交易流水号：<{/t}></label></th> <td><{if $detail.trade_no}><{$detail.trade_no}><{else}>暂无<{/if}></td>
          <th><label><{t}> 第三方支付账户：<{/t}></label></th> <td><{if $detail.thirdparty_account}><{$detail.thirdparty_account}><{else}>暂无<{/if}></td>
        </tr>
        <tr>
          <th><label><{t}>操作员：<{/t}></label></th> <td><{if $detail.op_name}><{$detail.op_name}><{else}>暂无<{/if}></td>
          <th><label><{t}> 支付备注：<{/t}></label></th> <td><{if $detail.memo}><{$detail.memo}><{else}>暂无<{/if}></td>
          <th><label><{t}> 订单所属会员：<{/t}></label></th> <td><{if $detail.user_name}><{$detail.user_name}><{else}>暂无<{/if}></td>
        </tr>
      </table>
      <{/if}>
    <{else}>
    <div>此支付单信息有误</div>
    <{/if}>
  </div>
</div>
