<header class="page-header">
	<i class="header-left icon-func bbc-icon bbc-icon-back shopex-action-back"></i>
	<div class="header-title"><{$title}></div>
	<a href="#minimenu" class="header-right icon-func bbc-icon bbc-icon-more btn-mini-menu"></a>
</header>
<!-- 右上角menu菜单 -->
<div id="minimenu" class="bbc-mini-menu shopex-popover">
  <div class="shopex-popover-arrow"></div>
  <div>
    <ul class="shopex-table-view">
      <li class="shopex-table-view-cell">
        <a href="<{url action=topwap_ctl_default@index}>"><i class="bbc-icon bbc-icon-home-empty"></i> 首页</a>
      </li>
      <li class="shopex-table-view-cell">
        <a href="<{url action=topwap_ctl_category@index}>"><i class="bbc-icon bbc-icon-category-empty"></i> 分类</a>
      </li>
      <li class="shopex-table-view-cell">
        <a href="<{url action=topwap_ctl_cart@index}>"><i class="bbc-icon bbc-icon-cart-empty"></i> 购物车</a>
      </li>
      <li class="shopex-table-view-cell">
        <a href="<{url action=topwap_ctl_member@index}>"><i class="bbc-icon bbc-icon-user-empty"></i> 会员</a>
      </li>
    </ul>
  </div>
</div>
